/* Ton style existant */
body, html {
    height: 100%;
    margin: 0;
    background-color: #c45824;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    overflow-x: hidden;
    touch-action: manipulation;
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
}

/* Centrage du logo */
.logo-container {
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    animation: popIn 1s ease-out forwards;
}

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

/* Nouveau CSS pour la boîte de dialogue et le visage */
.dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.character-face {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.dialog-box {
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 80%;
}

.dialog-text {
    font-size: 18px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    width: 0;
    animation: typing 5s steps(50) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
